
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



main {
    display: flex;

        padding-top: 50px;    
        padding-bottom: 50px; 

}

.main-left img {
    width: 800px;  
    height:500px; 
} 




.main-left, .main-right {
    flex: 1;
    padding: 20px;
}

.main-left {
    background-color: #f0f0f0; /* Estilo de fondo para el contenido principal */
}

.main-right {
    background-color: #e0e0e0; /* Estilo de fondo para el contenido secundario */
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section, .footer-row {
    flex: 1;
    text-align: center;
    padding: 10px;
    min-width: 200px;
}

.footer-row {
    flex-basis: 100%;
}


.flex-container {
    display: flex;
    border: 2px solid #333; /* Agrega un borde sólido de 2px y color gris oscuro */
    padding: 10px; /* Añade un espacio alrededor del contenedor */
    font-family: Arial, sans-serif; /* Establece la tipografía del texto */
}

.user-data {
    margin-right: 20px;
    border: 1px solid #c20707; /* Agrega un borde más delgado y color gris claro */
    padding: 3px; /* Añade espacio interno a cada div de datos de usuario */
    font-style: italic; /* Establece el estilo de la fuente en itálica */
}

.multiple-line-breaks {
    margin-top: 200px; /* Ajusta el valor para obtener el espacio deseado (20px como ejemplo) */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #348779;
    padding: 8px;
    text-align: center;
}

/* Estilo para la última fila */
tr:last-child {
    text-align: center;
}



